/*home start*/
.center{
	text-align: center;
}
.lineheight{
	line-height: 1.76rem;
}
.head .location{
	display: inline-block;
	width: 0.4rem;
	height: 0.48rem;
	background-position: -0.8rem -1.22rem;
	vertical-align: middle;
}
.head .downsel{
	display: inline-block;
	width: 0.28rem;
	height: 0.12rem;
	background-position: -0.42rem 0;
	vertical-align: middle;
}
.head .loca_ad{
	display: inline-block;
	font-size: 0.48rem;
	vertical-align: middle;
}

.home_content{
	width: 100%;
	height: 100%;
	background-color: #eff1eb;
	position: relative;
}
.home_content .banner_bar{
	width: 100%;
	height: 5.8rem;
	border-bottom:1px solid #eff0ec;
	position: relative;
	overflow: hidden;
}
.banner_bar .banner_img_bar{
	width: 100%;
	height: 5.8rem;
	position: absolute;
}
.banner_img_bar .banner_img_item{
	width: 100%;
	height: 5.8rem;
	position: absolute;
}
.banner_img_item img{
	width: 100%;
	height: 5.8rem;
}
.banner_bar .banner_icon_bar{
	position:absolute;
	left: 6.6rem;
	bottom: 0.3rem;	
}
.banner_icon_bar li{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background-color: #e7efe7;
	
}
.banner_icon_bar .activeba{
	transform: scale(1.8);
	transform-origin:center center;
}
.home_content .entrance_bar,.home_content .menu_bar{
	width: 100%;
	background-color: #fff;
	margin-bottom:0.4rem;
}
.entrance_bar .entrance_list,.menu_bar .menu_list{
	width: 100%;
	padding: 0.4rem 0 0.48rem;
}
.entrance_list .entrance_item{
	width: 25%;
}
.entrance_item .entrance_link,.menu_item .menu_link{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.48rem;
	color: #666666;
}
.entrance_link img,.menu_link img{
	width: 1.8rem;
	height: 1.8rem;
	margin-bottom: 0.28rem;
}

.home_content .homegoods_bar{
	width:100%;
}
.homegoods_bar .single_bar,.homegoods_bar .gift_bar,.homegoods_bar .sales_bar{
	width:100%;
	border-top:1px solid #eeeeee;
}
.single_bar .view_bar,.gift_bar .view_bar,.sales_bar .view_bar{
	width:100%;
	height: 1.2rem;
	text-align: center;
	font-size: 0;
	background-color:#fff;
	line-height:1.2rem;
	position: relative;
}
.more_bar{
	position: absolute;
	top: 0;
	right: 0.48rem;
	font-size: 0.48rem;
	color: #da572c;
	font-weight: 300;
}
.view_bar .single_icon,.view_bar .gift_icon,.view_bar .sales_icon{
	display: inline-block;
	width: 0.84rem;
	height: 0.72rem;
	line-height:0;
	background-position: -1.2rem 0;
	margin-right: 0.24rem;
	vertical-align: middle;
}
.view_bar p{
	display: inline-block;
	font-size: 0.6rem;
	color: #4e9f35;
	/*line-height:1.2rem;*/
	vertical-align: middle;
}

.homegoods_bar .homegoods_list{
	width: 100%;
	margin-bottom: 0.4rem;
}
.homegoods_list .homegoods_item{
	padding: 0 0.6rem;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	margin-bottom: 0.16rem;
	background-color:#fff;
}
.homegoods_item .homegoods_left{
	width: 45%;
	padding: 0.3rem;
	height: 6rem;
	line-height: 6rem;
	text-align: center;
	font-size: 0;
}
.homegoods_left .homegoods_img_box{
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	position: relative;
}
.homegoods_left img{
	width: 6rem;
	height: 6rem;
}
.homegoods_left .home_hot{
	width: 6rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.52rem;
	color: #fff;
	background-color: #da572c;
	position: absolute;
	top: 0.3rem;
	left: -2.2rem;
	transform: rotate(-45deg);
}
.homegoods_item .homegoods_right{
	width: 50%;
	padding-top: 0.64rem;
}
.homegoods_right .homegoods_title_bar,.homegoods_right .homegoods_text_bar,.homegoods_right .homegoods_weight_bar{
	width: 100%;
}
.homegoods_right .homegoods_title{
	overflow: hidden;
	color: #333333;
	font-size:0.72rem;
	font-weight:600;
	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    margin-bottom: 0.32rem;
}
.homegoods_right .homegoods_text{
	overflow: hidden;
	color: #999999;
	font-size:0.48rem;
	font-weight:300;
	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}
.homegoods_right .homegoods_weight{
	padding: 0.1rem 0.32rem;
	border:1px solid #c9c9ca;
	border-radius: 0.4rem;
	color: #c9c9ca;
	font-size:0.4rem;
	margin: 0.3rem 0;
}
.homegoods_right .homegoods_price{
	width: 100%;
	margin-bottom: 0.36rem;
	color: #d64515;
	font-size:0.48rem;
	font-weight: normal;
}
.homegoods_price .old{
	color: #c9c9ca;
	font-size:0.48rem;
	font-weight: normal;
	margin: 0.3rem 0.5rem 0 0;
}
.new span{
	font-size:0.8rem;
	font-weight: bold;
	margin-left: 0.1rem;
}
.homegoods_right .homegoods_buy{
	display: inline-block;
	padding: 0.16rem 0.56rem;
	background-color: #d64515;
	color: #fff;
	font-size: 0.48rem;
	border-radius: 0.4rem;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.view_bar .gift_icon{
	background-position: -2.14rem 0;
}
.view_bar .sales_icon{
	background-position: -1.2rem -0.72rem;
}

.home_content .copyright_bar,.goods_list_content .copyright_bar{
	width: 100%;
	padding-top: 0.62rem;
	text-align:center;
}
.copyright_bar .all{
	color: #999999;
	font-size: 0.48rem;
	margin-bottom: 0.52rem;
}
.all a{
	color: #999999;
}
.all span{
	margin: 0 0.2rem;
}
.all .activecolor{
	color: #4E9F35;
}
.copyright_bar .copyright{
	color: #aaaaaa;
	font-size: 0.4rem;
}
.coloreff{
	background-color:#eff1eb;
}
.up_bar{
	width: 1.2rem;
	height: 1.2rem;
	position: fixed;
	right: 0.3rem;
	bottom: 4rem;
	background-color: rgba(0,0,0,0.6);
	border-radius: 0.1rem;
}
.up_bar .up_icon{
	display: inline-block;
	background-position: -3.04rem 0;
	width: 0.76rem;
	height: 0.4rem;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
/*home end*/

/*goods_list start*/
.goods_list_content{
	position: relative;
}
.goods_list_content .goods_cont_bar{
	width: 100%;
	margin-bottom: 0.4rem;
}
.goods_cont_bar .pull_bar{
	width: 100%;
	line-height: 2.4rem;
	text-align: center;
	border-bottom: 1px solid #dddddd;
	display: none;
}
.pull_bar .pull_icon{
	display: inline-block;
	width: 0.64rem;
	height: 0.64rem;
	background-position: -2.14rem -0.72rem;
	vertical-align: middle;
	transform-origin: center;
	-webkit-transform-origin: center; 
}
.pull_bar .pull_text{
	display: inline-block;
	font-size: 0.4rem;
	color: #999999;
	background-position: ;
	vertical-align: middle;
}
.rotate{
	animation: garden 1s linear 0s infinite both;
}
@-webkit-keyframes garden{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes garden{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*goods_list end*/

/*goods start*/
.head .goods_tab{
	width: 100%;
	font-size:0;
	text-align: center;
}
.goods_tab a{
	display: inline-block;
	font-size:0.64rem;
	line-height: 1.66rem;
	border-bottom:2px solid #fff;
	color: #333333;
	padding: 0.04rem 0.3rem 0;
}
.goods_tab .activetab{
	border-bottom:2px solid #4E9F35;
	color: #4E9F35;
}
.goods_tab a:nth-of-type(1){
	margin-right: 1.2rem;
}
.goods_content{
	position: relative;
}
.goods_show_bar,.goods_list_bar{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
	/*position: absolute;
	left: 0;
	top:0;*/
	display: none;
}
.goods_list_bar div{
	width: 100%;
}
.goods_list_box img{
	width: 100%;
}
.displayblock{
	display: block;
}
.left{
	left: 15rem;
}
.goods_img_show_bar{
	width: 100%;
	height: 15rem;
	overflow: hidden;
	position: relative;
}
.goods_img_show_bar .goods_img_show_list{
	width: 100%;
	position: absolute;
}
.goods_img_show_list li{
	width: 100%;
	position: absolute;
}
.goods_img_show_item img{
	width: 100%;
	height: 15rem;
}
.hot_bar{
	width: 8rem;
	height: 1.6rem;
	line-height: 1.6rem;
	text-align: center;
	font-size: 0.72rem;
	color: #fff;
	background-color: #da572c;
	position: absolute;
	top: 0.5rem;
	left: -2.7rem;
	transform: rotate(-45deg);
}
.goods_img_show_bar .goods_img_icon_bar{
	position:absolute;
	left: 6.6rem;
	bottom: 0.3rem;	
}
.goods_img_icon_bar li{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border:1px solid #3c5158;
	border-radius: 50%;
	background-color: #fff;
	
}
.goods_img_icon_bar .activeba{
	transform: scale(1.5);
	transform-origin:center center;
	background-color: #3c5158;
}

.goods_show_bar .goods_title_bar{
	padding: 0.5rem 0 0.5rem 0.6rem;
	background-color: #fff;
}
.goods_title_bar .new{
	display: inline-block;
	font-size: 0.92rem;
	color: #da572c;
	font-weight: bold;
}
.goods_title_bar .old{
	display: inline-block;
	font-size: 0.48rem;
	color: #999999;
}
.goods_show_bar .goods_num_bar{
	width: 100%;
	height: 1.6rem;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	line-height: 1.6rem;
	background-color:#fff;
	font-size: 0.6rem;
	color:#333333;
	margin-bottom: 0.4rem;
}
.goods_num_bar p{
	padding-left: 0.6rem;
}
.goods_show_bar .goods_parameter_bar{
	padding:0 0.6rem;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background-color: #fff;
	margin-bottom: 0.4rem;
}
.goods_parameter_bar h2{
	font-size: 0.6rem;
	color: #333333;
	padding-top: 0.6rem;
	margin-bottom: 0.3rem;
}
.goods_parameter_bar .goods_parameter_list{
	font-size: 0;
	color: #333333;
	/*padding-bottom: 0.6rem;*/
}
.goods_parameter_list dt{
	display: inline-block;
	width: 24%;
	margin-bottom: 0.3rem;
	color: #999999;
	font-size: 0.48rem;
}
.goods_parameter_list dt:nth-of-type(5){
	margin-bottom: 0;
}
.goods_parameter_list dd{
	display: inline-block;
	width: 76%;
	font-size: 0.48rem;
}
.goods_content .getmore_bar{
	background-color:#fff;
	border-top: 1px solid #eeeeee;
}
.getmore_bar .getmore_link{
	display: block;
	text-align:center;
	height: 1.8rem;
}
.getmore_link span{
	display: inline-block;
}
.getmore_link p{
	display: inline-block;
}
.getmore_link .getmore_icon{
	display: inline-block;
	width: 0.44rem;
	height: 0.24rem;
	background-position: -3.84rem 0;
	margin-top: -0.5rem;
}
.getmore_link .getmore_text{
	font-size: 0.48rem;
	color: #3c5158;
	line-height: 1.8rem;
}
.goods_content .cart_bar{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0;
	position: fixed;
	left: 0;
	bottom: 0;
}
.cart_bar .cart_link{
	display: inline-block;
	width: 84%;
	line-height: 2rem;
	text-align: center;
	background-color:#da572c;
	color: #fff;
	font-size: 0.62rem;
}
.cart_bar .cart_icon_bar{
	display: inline-block;
	width: 16%;
	height: 2rem;
	text-align: center;
	background-color:#f8f8f9;
	position: absolute;
}
.cart_icon_bar .cart_icon{
	display: block;
	width: 1rem;
	height: 1.12rem;
	background-position: -0.7rem -1.74rem;
	position: absolute;
	left: 0;
	top: 0;
	bottom:0;
	right:0;
	margin:auto;
}
.null_goods{
	width: 100%;
	height: 2rem;
}
/*goods end*/

/*menu start*/
.menu_list .menu_item{
	width: 20%;
}
.menugoods_list{
	font-size: 0;
}
.menugoods_item{
	padding: 0.4rem 0.4rem 0;
	background-color:#fff;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	margin-bottom: 0.4rem;
}
.menugoods_img img{
	width: 14.2rem;
	height: 9.6rem;
}
.menugoods_info{
	width: 100%;
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 0.48rem;
	color: #666666;
}
.menugoods_title{
	width: 40%;
	font-size: 0.64rem;
	color: #333333;
	font-weight:500;
}
.menugoods_title p{
	overflow: hidden;
	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
	width: 100%;
}
.menugoods_taste{
	width:23%;
	height: 1.6rem;
	overflow: hidden;
}
.menugoods_step{
	margin-right: 0.3rem;
}
.menugoods_step_text{
	display: inline-block;
}
.menugoods_taste_text{
	display: inline-block;
	width: 80%;
}
.menugoods_taste_text span{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}
.menugoods_taste_icon_bar{
	margin-right: 0.2rem;
	height: 1.6rem;
}
.menugoods_step .menugoods_step_icon{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	background-position:-4.88rem 0;
	margin-top: 0.48rem;
}
.menugoods_taste .menugoods_taste_icon{
	display: inline-block;
	width: 0.32rem;
	height: 0.44rem;
	background-position:-4.4rem 0;
	margin-top: 0.58rem;
	vertical-align: top;
}
/*menu end*/

/*menulist start*/
.menu_head{
	background-color:#fff;
	border-bottom:1px solid #eeeeee;
	margin-bottom: 0.4rem;
}
.menulist_head_bar{
	width: 100%;
	height: 10rem;
	position: relative;
}
.menulist_head_img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.menulist_head_img img{
	width: 100%;
	height: 10rem;
}
.menulist_link_bar{
	display: block;
	position:absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 2rem;
}
.menulist_link_bar .head_link{
	display: inline-block;
	width: 0.88rem;
	height: 0.88rem;
	border-radius: 50%;
	background-color:rgba(255,255,255,0.6);
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
}
.head_link span{
	display: inline-block;
	width: 0.24rem;
	height: 0.36rem;
	background-position:-5.76rem 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom:0;
	top:0;
	margin: auto;
}
.menulist_head_info{
	padding: 0 0.4rem;
	/*width: 14.2rem;*/
	position: relative;
	font-size: 0.48rem;
	color: #666666;
	text-align: center;
}
.taste_info_title_img{
	position: absolute;
	bottom: -1.16rem;
	left: 0;
	right:0;
	width: 2.2rem;
	height: 2.2rem;
	background-color:#fff;
	border-radius: 50%;
	margin: 0 auto ;
}
.taste_info_title_img img{
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
}
.taste_info_title{
	text-align: center;
	font-size: 0.64rem;
	color: #333333;
	font-weight: 500;
	margin:1rem 0 0.3rem;
}
.taste_list{
	margin-bottom: 0.6rem;
}
.taste_list p{
	display:inline-block;
	margin-right: 0.3rem;
}
.foods_bar,.steps_bar{
	padding: 0.4rem;
	background-color:#fff;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	margin-bottom: 0.4rem;
}
.foods_title_bar{
	font-size: 0.6rem;
	color:#222222;
	line-height:1rem;
}
.foods_title_bar .foods_title_icon{
	display: inline-block;
	width:0.64rem;
	height:0.64rem;
	background-position:-3.02rem -0.7rem;
	vertical-align: middle;
}
.foods_list{
	font-size: 0.48rem;
	color: #333333;
	line-height: 0.8rem;
	background-color:#f9f5ef;
}
.foods_item_left,.foods_item_right{
	width:50%;
}
.foods_item_left p,.foods_item_right p{
	width: 90%;
	overflow: hidden;
	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}
.foods_list li:nth-child(2n){
	background-color:#fff;
}
.steps_bar{
	font-size: 0.6rem;
	color: #333333;
	padding-bottom: 0;
}
.steps_title_left .steps_icon{
	display: inline-block;
	width: 0.64rem;
	height:0.58rem;
	background-position:-3.02rem -1.38rem;
}
.steps_title{
	display:inline-block;
	margin-right: 0.2rem;
}
.steps_title_info{
	font-size: 0.48rem;
	color: #666666;
	display:inline-block;
}
.steps_title_right{
	width: 2rem;
}
.steps_title_right a{
	display: block;
	width:100%;
	text-align: center;
}
.steps_title_right span{
	display: inline-block;
	width: 1.08rem;
	height: 0.48rem;
	background-position: -3.78rem -0.72rem;
	margin-top: 0.16rem;
}
.steps_list{
	width: 100%;
}
.steps_list li:last-child{
	padding-bottom: 0.4rem;
}
.steps_item{
	padding-left: 0.4rem;
	position: relative;
}
.steps_item::before{
	content: "";
    width: 2px;
    height: 100%;
    background-color: #cccccc;
    position: absolute;
    top: 0;
    left: 0.3rem;
}
.steps_num{
	width: 0.68rem;
	height: 0.68rem;
	font-size: 0.4rem;
	color: #fff;
	border-radius: 50%;
	line-height: 0.68rem;
	text-align: center;
	position: absolute;
	left: 0rem;
	top: 0.6rem;
	background-color: #cccccc;
}
.steps_info_bar{
	margin-left: 0.8rem;
	padding-top: 0.54rem;
}
.steps_img_bar{
	border: 1px solid #eeeeee;
	padding: 0.3rem;
}
.steps_text{
	line-height: 0.8rem;
	padding-bottom: 0.4rem;
}
.steps_img_bar img{
	width: 12rem;
	height: 7.2rem;
}
.recommend_bar{
	padding: 0 0.4rem 0.6rem;
	font-size: 0.6rem;
	color:#333333;
}
.recommend_list{
	white-space: nowrap;
	overflow-xï¼šscroll;
}

.recommend_item{
	width: 6.38rem;
	border:1px solid #eeeeee;
	border-radius:0.2rem;
	background-color: #fff;
	margin-right: 0.2rem;
}
.recommend_img{
	text-align: center;
	line-height: 6.38rem;
}
.recommend_img img{
	width: 6rem;
	height: 6rem;
	vertical-align:middle;
}
.recommend_info{
	padding: 0.4rem;
}
.recommend_title{
	width:100%;
	overflow: hidden;
	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    margin-bottom: 0.2rem;
}
.recommend_price{
	font-size: 0.72rem;
	color: #da572c;
	font-weight: 500;
}
.recommend_price .old{
	font-size: 0.48rem;
	color: #999999;
}

/*menulist end*/

.black{
	background-color: #111111;
}
.menu_head{
	width: 100%;
	height: 1rem;
	background-color: #111111;
	position: relative;
}
.animatetop{
	-webkit-animation: gettop 0.5s linear 0s both;
	animation: gettop 0.5s linear 0s both;
}
@-webkit-keyframes gettop{
	0%{
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
	}
	100%{
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}